h2 {
    color: cyan;
    font-size: 2em;
    font-weight: bold;
    font-weight: 700;
    margin: center;
}

h1 {
    line-height: 65px;
}

.imagemlucas {
    margin: auto;
}

.texts {
    color: white;
    font-family: sans-serif;
    line-height: 2em;
}

body {
    background-color: rgb(2, 2, 53);
    background-attachment: fixed;
    font-family: monospace;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#nome {
    font-size: 50px;
    color: cyan;
    font-family: sans-serif;
    
}

#felicidade {

    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: cyan;
    
}
#box{
    border-radius: 1000px;
    overflow: hidden;
    margin: 0 auto 20px auto;
    
}

.corlistas {
    color: white;
    line-height: 1.6em;
    font-family: sans-serif;
}

.border {
    border: 5px solid cyan;
    width: 200px;
    height: 200px;
    border-radius: 1000px;
}

.button{
    color: blue;
    padding: 15px;
    background-color:cyan;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    
}

.centro {
    margin: auto;
    width: 200px;
    perspective: 1000px;
  }
  .btn {
    cursor: hand;
    text-transform: uppercase;
    background-color: cyan;
    color: white;
    font-weight: 900;
    border: none;
    padding: 1em 3em;
    margin: 2em auto;
    display: block;  
    transition: background .6s ease-in, transform .5s .25s ease-in-out;
  }
  .btn:hover {
    background-color: blue;
    transform: scale(1.2);
  }

  .transicao {
      cursor: hand;
      transition: .6s ease-in;     
  }

  .transicao:hover{
      transform: scale(1.2);
  }

  .habilidade {
      cursor: hand;
      transform: scale3d(1.2);
      transition: .6s ease-in;
  }
  .habilidade:hover {
    transform: scale(1.2);
  }
  