* {
    margin: 0;
    padding: 0;
}

.header_info {
    display: flex;
    justify-content: space-between;
    background-color: #DAE7E9;
    align-items: center;
}

.div_header_links {
    display: flex;
    justify-content: space-between;

}

#saudacao {
    font-size: 1.8em;
}

.links_header {
    margin: 20px;
    text-decoration: unset;
    color: rgb(0, 0, 0);
    background-color: #c8d9db;
    padding: 10px;
    border-radius: 20px;
    border: solid 1px white;
}

.links_header:hover {
    transition: 0.8s;
    background-color: rgb(162, 170, 180);
    color: rgb(251, 252, 253);
    border: solid 1px black;
}

#foto_perfil_header {
    margin: 10px;
    width: 80px;
    border-radius: 50px;
}

